.result {
  height: 60px;
  background-color: #000000;
  width: 100%;
  border: 1px solid #08f50a;
}

.result p {
  font-size: 40px;
  margin: 5px;
  color: #08f50a;
}

.calculator {
  max-width: 400px;
  margin: auto;

}

.buttons {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #08f50a;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  box-sizing: border-box;
  height: 60px;
  font-size: 30px;
  color: #08f50a;
  border: 1px solid #08f50a;
  background-color: #000000;
  cursor: pointer;
}

.button:hover, .button:active, .button:focus, .button:visited {
  color: #000000;
  background-color: #08f50a;
}

